<div>
    <h2 id="page-heading">
        <span jhiTranslate="euiApp.glserviceBestellung.home.title">Bestellungs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bestellung" [routerLink]="['/bestellung/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="euiApp.glserviceBestellung.home.createLabel">
            Create new Bestellung
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bestellungs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="standort"><span jhiTranslate="euiApp.glserviceBestellung.standort">Standort</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="von"><span jhiTranslate="euiApp.glserviceBestellung.von">Von</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bis"><span jhiTranslate="euiApp.glserviceBestellung.bis">Bis</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let bestellung of bestellungs ;trackBy: trackId">
                <td><a [routerLink]="['/bestellung', bestellung.id, 'view' ]">{{bestellung.id}}</a></td>
                <td jhiTranslate="{{'euiApp.Standort.' + bestellung.standort}}">{{bestellung.standort}}</td>
                <td>{{bestellung.von | date:'medium'}}</td>
                <td>{{bestellung.bis | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bestellung', bestellung.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bestellung', bestellung.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'bestellung', { outlets: { popup: bestellung.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
