<div>
    <h2 id="page-heading">
        <span jhiTranslate="euiApp.glserviceKasten.home.title">Kastens</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kasten" [routerLink]="['/kasten/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="euiApp.glserviceKasten.home.createLabel">
            Create new Kasten
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="kastens">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sorte"><span jhiTranslate="euiApp.glserviceKasten.sorte">Sorte</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bestellungStandort"><span jhiTranslate="euiApp.glserviceKasten.bestellung">Bestellung</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let kasten of kastens ;trackBy: trackId">
                <td><a [routerLink]="['/kasten', kasten.id, 'view' ]">{{kasten.id}}</a></td>
                <td jhiTranslate="{{'euiApp.Sorte.' + kasten.sorte}}">{{kasten.sorte}}</td>
                <td>
                    <div *ngIf="kasten.bestellungId">
                        <a [routerLink]="['../bestellung', kasten.bestellungId , 'view' ]" >{{kasten.bestellungStandort}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/kasten', kasten.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/kasten', kasten.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'kasten', { outlets: { popup: kasten.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
