<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kollege">
            <h2><span jhiTranslate="euiApp.glserviceKollege.detail.title">Kollege</span> {{kollege.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="euiApp.glserviceKollege.email">Email</span></dt>
                <dd>
                    <span>{{kollege.email}}</span>
                </dd>
                <dt><span jhiTranslate="euiApp.glserviceKollege.bestellung">Bestellung</span></dt>
                <dd>
                    <span *ngFor="let bestellung of kollege.bestellungs; let last = last">
                        <a [routerLink]="['/bestellung', bestellung?.id, 'view' ]">{{bestellung.standort}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kollege', kollege.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
